*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    height: 100vh;
    background: #191A1BFF;
}
.container{
    width: 600px;
    height: 600px;
    /*box-shadow: 0 0 8px #ddd;*/
    display: flex;
    flex-wrap: wrap;
}
.box{
    width: 200px;
    height: 200px;
    border: 1px solid #191A1BFF;
    background: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: #191A1BFF;
}
button{
    cursor: pointer;
    padding: 1rem 5rem;
    border: none;
    border-radius: 10px;
    background: tomato;
    color: #191A1BFF;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
}